body {
  font-family: 'Montserrat', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover,
button:focus {
  background: #6c8cff;
}

button:disabled {
  cursor: not-allowed;
  background: #cfcfcf;
  color: #989898;
}

input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
}

input:hover,
input:focus {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
  color: #000;
}

input:disable {
  color: #808080;
  border: 1px solid #808080;
  background: #fafafa;
}

.flatpickr-calendar {
  background: #f5f5f5 !important;
  border-radius: 8px !important;
  padding: 16px !important;
  width: 280px !important;
  height: 352px !important;
}

.timer {
  margin-top: 32px;
  display: flex;
  gap: 24px;
  max-width: 346px;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
