body {
  font-family: 'Montserrat', sans-serif;
  color: #434455;
  background-color: #fff;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

.form,
.form input,
.form fieldset {
  max-width: 360px;
}
.form button {
  width: 360px;
}

.form fieldset {
  margin: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 24px;
  min-height: 64px;
  padding: 0;
}

.form fieldset:hover {
  border: 1px solid #000;
}

.delay {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  max-width: 360px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
}

.delay input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
}
.delay input:hover {
  border-color: #000;
}

.delay input:active {
  border-color: #4e75ff;
}

fieldset input[type='radio'] {
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid #757575;
}

fieldset label {
  display: flex;
  align-items: end;
  gap: 8px;
  height: 32px;
}

legend {
  margin-left: 28px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}
